<md-content flex layout-padding ng-controller="profileCtrl" md-colors="{background: 'hacker-background'}">
    <div class="md-list-item-text" layout="column">
        <h1>{{ user.username }}</h1>
        <div>
            <h3>Email</h3>
            <p>{{ user.email }}</p>
        </div>

        <md-input-container class="md-block md-primary" md-theme='hacker'>
            <label>About</label>
            <textarea placeholder={{user.about}} ng-model="input_about" md-maxlength="50" rows="2" md-select-on-focus></textarea>
            <md-button md-theme='hacker' class="md-primary" ng-click="Submit()">Submit</md-button>
        </md-input-container>

        <h3>Karma</h3>
        <p>{{ user.karma }}</p>
        
    </div>

    
    <div layout="row" layout-align="start center">
        <md-button md-theme='hacker' class="md-primary" ng-click="ShowSubmissions()">Submissions</md-button>
    </div>
    
    <div layout="row" layout-align="start center">
        <md-button md-theme='hacker' class="md-primary" ng-click="ShowThreads()">Comments</md-button>
    </div>

</md-content>