<md-content flex layout-padding ng-controller="replyCtrl" md-colors="{background: 'hacker-background'}">
    <div layout="row" layout-align="center center">
        <div class="md-3-line" flex="95">
        <a ng-if="isUrl(comment.content)" ng-href="{{ comment.content }}">{{ comment.content }}</a>
        <h4 ng-if="!isUrl(comment.content)">{{ comment.content }}</h4>
        <p>{{ comment.points + ' points by ' + 
            comment.author_name + ' on ' + comment.submission_id + ' | ' +
              (comment.timestamp | date:'dd/MM/yyyy HH:mm') + comment.replies.length }}
        </p> 
        </div>
        <div flex>
            <md-button md-theme='hacker' class="md-primary" ng-click="Vote(comment.id)">Vote</md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <md-input-container class="md-block md-primary" md-theme='hacker'>
        <label>Write a Reply</label>
        <textarea ng-model="new_comment" required md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button md-theme='hacker' class="md-primary" ng-click="addReply(comment.id)">Submit</md-button>
    </div>
    <md-divider></md-divider>
    <md-list-item class="md-3-line" ng-repeat="reply in replies" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h4 ng-ref="{{ reply.content }}">{{ reply.content }}</h4>
            <p>{{  reply.punctuation + ' points by ' + reply.author_name + ' on ' + reply.comment_id + ' | ' + (reply.timestamp | date:'dd/MM/yyyy HH:mm') }}</p> 
        </div>
        <md-button md-theme='hacker' class="md-primary" ng-click="Vote(reply.id)">Vote</md-button>
    </md-list-item>    
</md-content>