<md-list ng-controller="submissionUserCtrl" ng-cloak>
    <md-list-item class="md-3-line" ng-repeat="submission in submissions" ng-click="ShowSubmission(submission.id)">
        <div class="md-list-item-text" layout="column">
            <h2>{{ submission.title }}</h2>
            {{if (submission.tipo == "url")}}
                <h4>{{ submission.url }}</h4>
            {{else}}
                <h4>{{ submission.content }}</h4>
            {{end}}
            <p>{{ submission.points + ' points by ' + 
                submission.author_name + ' on ' + 
                  (submission.timestamp | date:'dd/MM/yyyy HH:mm') + ' | ' +
                  submission.comments.length + ' comments' }}</p> 
        </div>
        <md-button md-theme='hacker' class="md-primary" ng-click="Vote(submission.id)">Vote</md-button>
    </md-list-item>       
</md-list>