<md-list ng-controller="threadCtrl" ng-cloak>
    <md-list-item class="md-3-line" ng-repeat="thread in comments">
        <div class="md-list-item-text" layout="column">
            <p>{{ 'by ' + thread.author_name + ' | on: ' +
                  (thread.timestamp | date:'dd/MM/yyyy HH:mm') }}</p> 
            <h4>{{ thread.content }}</h4>
        </div>
    </md-list-item>   
    <md-list-item class="md-3-line" ng-repeat="thread in replies">
        <div class="md-list-item-text" layout="column">
            <p>{{ 'by ' + thread.author_name + 
                  (contribution.timestamp | date:'dd/MM/yyyy HH:mm') + ' | on:' +
                  thread.comment_id }}</p> 
            <h4>{{ thread.content }}</h4>
        </div>
    </md-list-item>  
</md-list>